*.mov
*.mp4
private/*
video/*
test/*
bkp/*
out/*
*/*.jpg
*/*.JPG
*/*.png
*/*.PNG
*/*.tiff
*/*.TIFF
*/*.tif
*/*/*.jpg
*/*/*.JPG
*/*/*.png
*/*/*.PNG
*/*/*.tiff
*/*/*.TIFF
*/*/*.tif
*/*.mov
*/*.mp4
*.mov
*.mp4
*.pdf
*/*.pdf
*/*/*.mov
*/*/*.mp4